.datetool {
  color: white;
  font-weight: bold;
  border: solid 1px white;
  border-radius: 5px;
  padding: 3px;
}

ion-icon.calendaricon {
  font-size: 24px;
  color: white;
}


.test {
  border: 1px solid red;
}

.tarea {
  border: 1px solid #aaa;
  border-radius: 10px;
  padding: 0px;
  height: 70px;
  background-color: #F3F3F3;
  margin-bottom: 8px;
}

.tarea.active {
  box-shadow: 0px 0px 15px 3px rgba(214,222,146,1);
}

.tarea.planned {
  box-shadow: 0px 0px 5px -3px rgba(0,0,0,1);
}

.tareacat h2{
  font-size: 14px;
  color:  #777;
  border-bottom: solid 1px #777;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 8px;
  margin-top: 10px;
}

.tarea .distancia {
  display: block;
  position: absolute;
  right: 0px;
  margin: -1px;
  height: 70px;
  border-radius: 0 10px 10px 0;
  width: 20%;
  background-color: #DDD;
  font-size: 15px;
  text-align: center;
  line-height: 70px;
  color: #666;
  font-weight: bold;
  border: solid 1px #AAA;
}

.tarea .distancia small {
  font-weight: lighter;
}

.tarea .-t {
  display: block;
  position: absolute;
  height: 70px;
  width: 20%;
  border-radius: 10px 0 0 10px;
  text-align: center;
}

.-t h2 {
  margin-top: 16px;
  font-size: 15px;
  margin-bottom: 0;
}

.-t h3 {
  font-size: 12px;
  margin-top: 2px;
  font-weight: lighter;

}

.tarea .wrapInfo {
  position: absolute;
  padding: 0;
  height: 70px;
  width: 60%;
  left: 20%;
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 10px;
}


.tarea .practitioner {
  display: block;
  position: absolute;
  height: 20px;
  margin-top: -22px;
  right: 22px;
  font-size: 15px;
  color: #444;
  padding-right: 5px;
  padding-left: 5px;
  border-top: solid 1px #AAA;
  border-right: solid 1px #AAA;
  border-left: solid 1px #AAA;
  border-radius: 5px 5px 0 0;
}

.practitioner span {
  font-size: 10px;
  font-weight: bold;
  padding-left: 3px;
  padding-right: 3px;
  text-align: center;
  margin-right: 4px;
}

div.practitioner.online span {
  background-color: green;
  color: white;
}

div.practitioner.offline span {
  background-color: red;
  color: white;
}

div.practitioner.online {
  background-color: #cddfb6;
}

div.practitioner.offline {
  background-color: #ffc5c5;
}

.tarea .patient {
  color:#666;
  font-weight: normal;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tarea .direccion {
  color:#333;
  font-size: 12px;
}

.tarea .hora {
  margin-top: 6px;
  text-align: center;
  width: 80px;
  border: 1px solid black;
  font-size: 13px;
  color: white;
  background-color: #666;

}

.tarea.planned .-t{
   background-color: #385c7f;
   color:#FFFFFF;
}

.tarea.active .-t{
   background-color: #dca618;
   color:#222;
}

.tarea.finished .-t{
   background-color: #3B9F48;
   color:#EEE;
}

.tarea.cancelled .-t{
   background-color: #CCC;
   color:#555;
}

.novedad {
  position: absolute;
  width:100%;
  text-align: center;
  line-height: 70px;
  font-size: 40px;
  font-weight: bold;
  color: rgba(255,0,0,0.4);
}
