<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Lista de Tareas</ion-title>
    <ion-buttons slot="end">
    <ion-datetime class="datetool "display-format="DD MMM YYYY"
    picker-format="DD MMM YYYY"
    [(ngModel)]="fechaq"
    monthShortNames="Ene, Feb, Mar, Abr, May, Jun, Jul, Ago, Sep, Oct, Nov, Dic"
    (ionChange)='reloaddatepicker()'>
    </ion-datetime>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="refresc($event)">
      <ion-refresher-content
        refreshingSpinner="circles"
        refreshingText="Actualizando...">
    </ion-refresher-content>
  </ion-refresher>
    <ion-grid>
      <ion-row>
          <ion-col>
            <div class="tareacat">
              <h2>Activos</h2>
            </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="tarea active" *ngFor="let item of globales.tasklistdate(fechaq,'Active')" (click)="clickactive(item.id)">
           <div class="wrapInfo">
              <div class="patient">{{item.patient_name}}</div>
              <div class="direccion">{{item.patient_address}}</div>
              <div class="hora">{{item.datetime}}</div>
           </div>
           <div class="-t"><h2>{{menost(item.time_active, 1)}}</h2> <h3>hh:mm</h3></div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-col>
            <div class="tareacat">
              <h2>Planeados</h2>
            </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div  class='tarea planned' *ngFor="let item of globales.tasklistdate(fechaq,'Planned')" [routerLink]="['/task/', item.id]">
           <div class="wrapInfo">
              <div class="patient">{{item.patient_name}}</div>
              <div class="direccion">{{item.patient_address}}</div>
              <div class="hora">{{item.datetime}}</div>
           </div>
           <div [id]="item.id+'control'" class="-t">
             <h2>{{menost(item.datetimeas,2,item.id)}}</h2>
             <h3>hh:mm</h3>
           </div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-col>
            <div class="tareacat">
              <h2>Cancelados</h2>
            </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="tarea cancelled" *ngFor="let item of globales.tasklistdate(fechaq,'Cancelled')" [routerLink]="['', item.id]">
           <div class="wrapInfo">
              <div class="patient">{{item.patient_name}}</div>
              <div class="direccion">{{item.patient_address}}</div>
           </div>
           <div class="-t"><h2>{{item.datetime}}</h2> <h3>hh:mm</h3></div>
           <div class="novedad">CANCELADO</div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-col>
            <div class="tareacat">
              <h2>Terminados</h2>
            </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="tarea finished" *ngFor="let item of globales.tasklistdate(fechaq,'Finished')" [routerLink]="['', item.id]">
           <div class="wrapInfo">
              <div class="patient">{{item.patient_name}}</div>
              <div class="direccion">{{item.patient_address}}</div>
           </div>
           <div class="-t"><h2>{{item.datetime}}</h2> <h3>hh:mm</h3></div>
          </div>
        </ion-col>
      </ion-row>

    </ion-grid>

</ion-content>
