agm-map {
  height: 40vh;
}

.contenidotask {
  height: 80vh;
}

.horallegada {
  color: white;
  background-color: rgb(43, 116, 74);
  text-transform: uppercase;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  border-radius: 10px;
  font-weight: bold;
  width: 50%
}


.wrap {
  height: 100%;
  width: 100%;
  border: solid 1px #AAA;
  border-radius: 7px;
  padding: 6px;
  overflow-y: scroll;
  background-color: #FAFAFA;
}

.wrap .nombre {
  color: #454545;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 0;
}

.wrap .edadgenero {
  color:#222;
  font-size: 17px;
  font-weight: 800;
  margin-top: 0;
  margin-bottom: 20px;
}

.wrap .contacto {
  color:#111;
  font-size: 18px;
  font-weight: bold;
  margin-top: 0;
}

.wrap .contenidotitulo {
  text-transform: uppercase;
  margin-top: 25px;
  font-size: 14px;
  font-weight: bold;
  color: #888;
  border-bottom: solid 1px #666;
}

.itemprocedimiento {
  width: 90%;
  margin-left: 10px;
  //border-bottom: black 2px dashed;
}

.itemprocedimiento tr {
padding-bottom: 4px;
}

.itemprocedimiento th {
  width: 40%;
  font-size: 13px;
  text-align: left;
  padding: 5px;
  margin-top:10px;
  border-bottom: solid 1px #DDD;
}

  .itemprocedimiento td {
    width: 60%;
    font-size: 13px;
    text-align: left;
    padding: 5px;
    margin-top:10px;
    border-bottom: solid 1px #DDD;
  }

  .numero
  {
    margin-top: 20px;
    font-size: 20px;
    color: white;
    font-weight: bold;
    display: block;
    border-radius: 100%;
    background-color: rgb(12, 47, 105);
    width:30px;
    height: 30px;
    text-align: center;
    line-height: 30px;

  }
