<ion-header>
  <ion-toolbar color ="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Tarea Pendiente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [forceOverscroll]="true">
  <ion-grid>
    <ion-row class="contenidotask">
      <div class="wrap" (click)="wraptap()">
        <div class="horallegada">{{globales.task.datetimeas| date: 'hh:mm aa'}} <br><small>{{globales.task.datetimeas|date: 'dd/MM/yyyy'}} </small> </div>
        <div class="nombre">{{globales.task.patient_name}}</div>
        <div class="edadgenero">{{globales.task.patient_gender}}, {{globales.task.patient_years_age}} Años</div>
        <div class="contacto"><ion-icon name="home"></ion-icon> {{globales.task.patient_address}}, {{globales.task.patient_city}}</div>
        <div class="contacto"><ion-icon name="call"></ion-icon> {{globales.task.patient_phone}}</div>
        <div class="contenidotitulo">
          Cuidador
        </div>
        <div class="cuidadornombre"><strong>{{globales.task.patient_contact}}</strong></div>
        <div class="cuidadornombre"><ion-icon name="call"></ion-icon> {{globales.task.patient_phone_contact}}</div>
        <div class="contenidotitulo">
          Procedimientos a Realizar
        </div>
        <div class="wrapprocedmientos">

          <div class="procedimiento" *ngFor="let item of globales.task.procedure;let indice=index">
              <div class="numero">
                {{indice+1}}
              </div>
              <table class="itemprocedimiento">
                <tr>
                  <th>Medicamento</th>
                  <td>{{item.medication}}</td>
                </tr>
                <tr>
                  <th>Concentración</th>
                  <td>{{item.concentration}}</td>
                </tr>
                <tr>
                  <th>Dilución</th>
                  <td>{{item.dilution}}</td>
                </tr>
                <tr>
                  <th>Tiempo de Infusion</th>
                  <td>{{item.infusion_time}} Minutos</td>
                </tr>
                <tr>
                  <th>Dosis</th>
                  <td>{{item.dosage}}</td>
                </tr>
              </table>

          </div>

        </div>
      </div>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>
          <ion-button disabled=true [id]="id" (click)="checkin()" expand="block" color="primary" shape="round">Iniciar! {{timecheckin().stringtime}}</ion-button>
        </div>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
