<ion-app>
  <ion-menu menuId="main" side="start">
    <ion-menu-toggle auto-hide="false">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>{{globales.name}} {{globales.surname}}</ion-title>
      </ion-toolbar>
    </ion-header>
      <ion-list>
          <ion-item [routerLink]="['/tasklist/']">
            <ion-icon color="primary" name="list" slot='start'></ion-icon>
            <ion-label>
              Tareas
            </ion-label>
          </ion-item>
          <ion-item [routerLink]="['/updatesignature/']">
            <ion-icon color="primary" name="create" slot='start'></ion-icon>
            <ion-label>
              Ver y Actualizar Firma
            </ion-label>
          </ion-item>
      </ion-list>
  </ion-menu-toggle>
    <ion-footer>
      <ion-text color="medium">
        <small>&nbsp; &copy; 2019 GlyaSalud :: Ver. 1.2.5</small>
      </ion-text>
      <ion-item (click)="cerrarsesionalerta()" color="light">
        <ion-label slot="end">
          Cerrar Sesion
        </ion-label>
        <ion-icon name="close-circle-outline" slot='end'></ion-icon>
      </ion-item>
  </ion-footer>
  </ion-menu>
<ion-router-outlet main></ion-router-outlet>
</ion-app>
