<ion-header>
  <ion-toolbar color ="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cambiar Firma</ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content class="contentclass">
    <ion-grid>
      <ion-row>
        <ion-col text-center>
          <h5 style="text-align:center;">Yo, {{login.name}} {{login.surname}} identificado(a) {{login.idtype}} {{login.nid}} Con esta firma autógrafa digital, certifico que todas las operaciones desde este dispositivo móvil son de mi autoría</h5>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            <ion-button (click)="signaturePad.clear()" class="borrarcanvas"><ion-icon name="trash"></ion-icon></ion-button>
            <signature-pad [options]="signaturePadOptions"  class="signature"></signature-pad>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col text-center>
          <ion-button (click)="enviarfirma()">Enviar</ion-button>
          <ion-button (click)="closeModal()">Cancelar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
