.signature {
  display: block;
  top: 30px;
  background-color: #FAFAFA;
  border: solid 1px #888;
  border-radius: 15px;
}

.borrarcanvas {
  position: absolute;
  right:10px;
  top: 10px;
}
.contentclass
{
  --background: url("../../../assets/sec.png");
}
