<ion-content>
  <ion-slides [options]="slideOpts" class="" *ngIf="hidehack()">
    <ion-slide class="s2">
      <div class="wrapslide">
        <div class="slidehead">
          Datos de Cuidador/Responsable
        </div>
        <div class="slidebody">
            <ion-list>
              <ion-item>
                <ion-label text-wrap position="stacked">Nombre del Cuidador</ion-label>
                <ion-input (change)="guardarstorage()" [(ngModel)]="data_encounteritems['I00041-8']"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label text-wrap position="stacked">Tipo de Documento</ion-label>
                <ion-select (change)="guardarstorage()" placeholder="Select One" [(ngModel)]="data_encounteritems['I00042-8']">
                  <ion-select-option value="CC">Cedula de Ciudadanía</ion-select-option>
                  <ion-select-option value="CE">Cedula de Extranjeria</ion-select-option>
                  <ion-select-option value="TI">Tarjeta de Identidad</ion-select-option>
                  <ion-select-option value="PA">Pasaporte</ion-select-option>
                  <ion-select-option value="PE">Permiso Especial</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-label text-wrap position="stacked">Numero de Documento</ion-label>
                <ion-input (change)="guardarstorage()" [(ngModel)]="data_encounteritems['I00043-8']"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label text-wrap position="stacked">Parentesco</ion-label>
                <ion-input (change)="guardarstorage()" [(ngModel)]="data_encounteritems['I00044-8']"></ion-input>
              </ion-item>

            </ion-list>
        </div>
      </div>
    </ion-slide>
    <ion-slide class="s2">
      <div class="wrapslide">
        <div class="slidehead">
          Control de signos vitales
        </div>
        <div class="slidebody">
          <ion-item>
            <ion-label class="labelcorto">
              Tensión Arterial Sistólica
            </ion-label>
            <ion-input (change)="guardarstorage()" placeholder="mmHg" type="number" class="inputcorto" [(ngModel)]="data_loincs['8480-6']"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label class="labelcorto">
              Tensión Arterial Diastólica
            </ion-label >
            <ion-input (change)="guardarstorage()" placeholder="mmHg" type="number" class="inputcorto" [(ngModel)]="data_loincs['8462-4']"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label class="labelcorto">
              Frecuencia Cardiaca
            </ion-label>
            <ion-input (change)="guardarstorage()" placeholder="PPM"  type="number" class="inputcorto" [(ngModel)]="data_loincs['8867-4']"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label class="labelcorto">
              Frecuencia Respiratoria
            </ion-label>
            <ion-input (change)="guardarstorage()" placeholder="RPM" type="number" class="inputcorto" [(ngModel)]="data_loincs['9279-1']"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label class="labelcorto">
              Temperatura Corporal
            </ion-label>
            <ion-input (change)="guardarstorage()" placeholder="°C"  type="number" class="inputcorto" [(ngModel)]="data_loincs['8310-5']"></ion-input>
          </ion-item>
        </div>
      </div>
    </ion-slide>

    <ion-slide class="s2">
      <div class="wrapslide ">
        <div class="slidehead">
          Verificación 10 correctos
        </div>
        <div class="slidebody">
          <ion-item>
            <ion-label>
              Paciente Correcto
            </ion-label>
            <div [ngClass]="spanbool('I0005-2')"></div>
            <ion-toggle (ionChange)="guardarstorage()" color="primary" [(ngModel)]="data_encounteritems['I0005-2']"></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label>
              Medicamento Correcto
            </ion-label>
            <div [ngClass]="spanbool('I0006-2')"></div>
            <ion-toggle (ionChange)="guardarstorage()" color="primary" [(ngModel)]="data_encounteritems['I0006-2']" ></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label>
              Dosis Correcta
            </ion-label>
            <div [ngClass]="spanbool('I0007-2')"></div>
            <ion-toggle (ionChange)="guardarstorage()" color="primary" [(ngModel)]="data_encounteritems['I0007-2']"></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label>
              Vía Correcta
            </ion-label>
            <div [ngClass]="spanbool('I0008-2')"></div>
            <ion-toggle (ionChange)="guardarstorage()" color="primary" [(ngModel)]="data_encounteritems['I0008-2']"></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label>
              Hora Correcta
            </ion-label>
            <div [ngClass]="spanbool('I0009-2')"></div>
            <ion-toggle (ionChange)="guardarstorage()" color="primary" [(ngModel)]="data_encounteritems['I0009-2']"></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label>
              Registro Correcto
            </ion-label>
            <div [ngClass]="spanbool('I00010-2')"></div>
            <ion-toggle (ionChange)="guardarstorage()" color="primary" [(ngModel)]="data_encounteritems['I00010-2']"></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label>
              Informar al paciente
            </ion-label>
            <div [ngClass]="spanbool('I00011-2')"></div>
            <ion-toggle (ionChange)="guardarstorage()" color="primary" [(ngModel)]="data_encounteritems['I00011-2']"></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label>
              Interacción de Medicamento
            </ion-label>
            <div [ngClass]="spanbool('I00012-2')"></div>
            <ion-toggle (ionChange)="guardarstorage()" color="primary" [(ngModel)]="data_encounteritems['I00012-2']"></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label>
              Indagar Sobre Alergias
            </ion-label>
            <div [ngClass]="spanbool('I00013-2')"></div>
            <ion-toggle (ionChange)="guardarstorage()" color="primary" [(ngModel)]="data_encounteritems['I00013-2']"></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label>
              Lavado de Manos
            </ion-label>
            <div [ngClass]="spanbool('I00014-2')"></div>
            <ion-toggle (ionChange)="guardarstorage()" color="primary" [(ngModel)]="data_encounteritems['I00014-2']"></ion-toggle>
          </ion-item>
        </div>
      </div>
    </ion-slide>

    <ion-slide class="s2">
      <div class="wrapslide ">
        <div class="slidehead">
          Observaciones
        </div>
        <div class="slidebody">
          <ion-item>
            <ion-label>
              Tipo de Acceso Venoso
            </ion-label>
            <ion-select (change)="guardarstorage()" placeholder="Select One" [(ngModel)]="data_encounteritems['I00015-3']">
              <ion-select-option value="Central">Central</ion-select-option>
              <ion-select-option value="Periferico">Periférico</ion-select-option>
              <ion-select-option value="Subcutaneo">Subcutaneo</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label text-wrap>
              Signo de Infección Local
            </ion-label>
            <div [ngClass]="spanbool('I00016-3')"></div>
            <ion-toggle (ionChange)="guardarstorage()" color="primary" [(ngModel)]="data_encounteritems['I00016-3']"></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label text-wrap position="stacked">
              Describa el signo de infección local
            </ion-label>
            <ion-input [disabled]="data_encounteritems['I00016-3']==false" (ionChange)="guardarstorage()" [(ngModel)]="data_encounteritems['I00021-3']"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label text-wrap>
              Alergia a Medicamento
            </ion-label>
            <div [ngClass]="spanbool('I00017-3')"></div>
            <ion-toggle (ionChange)="guardarstorage()" color="primary" [(ngModel)]="data_encounteritems['I00017-3']"></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label text-wrap position="stacked">
              Alergia a Medicamento. Cuál?
            </ion-label>
            <ion-input [disabled]="data_encounteritems['I00017-3']==false" (Change)="guardarstorage()" [(ngModel)]="data_encounteritems['I00018-3']"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label text-wrap>
              ¿Se realiza cambio de Venopunción?
            </ion-label>
            <div [ngClass]="spanbool('I00019-3')"></div>
            <ion-toggle (ionChange)="guardarstorage()" color="primary" [(ngModel)]="data_encounteritems['I00019-3']"></ion-toggle>
          </ion-item>
        </div>
      </div>
    </ion-slide>

    <ion-slide class="s2">
      <div class="wrapslide ">
        <div class="slidehead">
          Condiciones ambientales de almacenamiento de los medicamentos y/o insumos
        </div>
        <div class="slidebody">
          <ion-item>
            <ion-label text-wrap>
              El medicamento está protegido de la humedad y el calor.
            </ion-label>
            <div [ngClass]="spanbool('I00021-4')"></div>
            <ion-toggle (ionChange)="guardarstorage()" color="primary" [(ngModel)]="data_encounteritems['I00021-4']"></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label text-wrap>
              Los medicamentos y/o insumos están sellados, sin evidencia de consumo.
            </ion-label>
            <div [ngClass]="spanbool('I00022-4')"></div>
            <ion-toggle (ionChange)="guardarstorage()" color="primary" [(ngModel)]="data_encounteritems['I00022-4']"></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label text-wrap>
              El lugar de almacenamiento cuenta con ventilación natural.
            </ion-label>
            <div [ngClass]="spanbool('I00023-4')"></div>
            <ion-toggle (ionChange)="guardarstorage()" color="primary" [(ngModel)]="data_encounteritems['I00023-4']"></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label text-wrap>
              Está sin contacto directo con el piso.
            </ion-label>
            <div [ngClass]="spanbool('I00024-4')"></div>
            <ion-toggle (ionChange)="guardarstorage()" color="primary" [(ngModel)]="data_encounteritems['I00024-4']"></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label text-wrap>
              Están alejados de sitios contaminados.
            </ion-label>
            <div [ngClass]="spanbool('I00025-4')"></div>
            <ion-toggle (ionChange)="guardarstorage()" color="primary" [(ngModel)]="data_encounteritems['I00025-4']"></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label text-wrap>
              Cuenta con iluminación, que permite su facil ubicación.
            </ion-label>
            <div [ngClass]="spanbool('I00026-4')"></div>
            <ion-toggle (ionChange)="guardarstorage()" color="primary" [(ngModel)]="data_encounteritems['I00026-4']"></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label text-wrap position="stacked" class="fixtextlabel">
              Observaciones
            </ion-label>
            <ion-input (ionChange)="guardarstorage()" placeholder="" [(ngModel)]="data_encounteritems['I00027-4']"></ion-input>
          </ion-item>
        </div>
      </div>
    </ion-slide>


      <ion-slide class="s2"  *ngFor="let item of task.procedure;let indice=index" >
        <div class="wrapslide ">
          <div class="slidehead">
            Administración del medicamento
            <p>No. {{indice+1}}</p>

          </div>
            <div class="tablemedicamento">
              <h3>Verifique muy bien el medicamento a administrar de acuerdo a las siguientes indicaciones</h3>
              <table>
                <tr>
                  <th>Medicamento</th>
                  <td>{{item.medication}}</td>
                </tr>
                <tr>
                  <th>Concentración</th>
                  <td>{{item.concentration}}</td>
                </tr>
                <tr>
                  <th>Dosis</th>
                  <td>{{item.dosage}}</td>
                </tr>
                <tr>
                  <th>Vía</th>
                  <td>{{item.administration}}</td>
                </tr>
                <tr>
                  <th>Dilusión</th>
                  <td>{{item.dilution}}</td>
                </tr>
                <tr>
                  <th>Tiempo de Infusión</th>
                  <td>{{item.infusion_time}} Minutos</td>
                </tr>
                <tr>
                  <th>Cadena de Frio</th>
                  <td>{{sino(item.cold_chain)}}</td>
                </tr>
              </table>
            </div>
            <ion-item>
              <ion-label class="labelcorto">
                Registro Invima
              </ion-label>
              <ion-input (change)="guardarstorage()" placeholder="" class="inputcorto" [(ngModel)]="data_encounteritems['I00045-9'][item.id]['reginvima']"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label class="labelcorto">
                Lote
              </ion-label>
              <ion-input (change)="guardarstorage()" placeholder="" class="inputcorto" [(ngModel)]="data_encounteritems['I00045-9'][item.id]['lote']"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label class="labelcorto">
                Fecha de Vencimiento
              </ion-label>
              <ion-datetime (change)="guardarstorage()" [min]="maxdate" max="2030" displayFormat="DD MMM YYYY" placeholder="Seleccione Fecha" [(ngModel)]="data_encounteritems['I00045-9'][item.id]['fecha']"></ion-datetime>
            </ion-item>
          </div>
      </ion-slide>


    <ion-slide class="s2">
      <div class="wrapslide ">
        <div class="slidehead">
          Descripción de la actividad
        </div>
        <div class="slidebody">
          <ion-item lines="full">
            <ion-textarea (change)="guardarstorage()" rows="10" autogrow="true"  placeholder="Escriba aqui los detalles de la ejecución" class="textareainnovar" [(ngModel)]="data_encounteritems['I00039-6']"></ion-textarea>
          </ion-item>
          <ion-button (click)="iniciardictado()">Dictar Texto</ion-button>
        </div>
      </div>
    </ion-slide>

    <ion-slide class="s2">
      <div class="wrapslide ">
        <div class="slidehead">
          Bioseguridad y disposición de residuos
        </div>
        <div class="slidebody">
          <ion-item>
            <ion-label text-wrap>
              ¿Ejecutó el lavado de manos en los 5 momentos?
            </ion-label>
            <div [ngClass]="spanbool('I0001-1')"></div>
            <ion-toggle (ionChange)="guardarstorage()" color="primary" [(ngModel)]="data_encounteritems['I0001-1']"></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label text-wrap class>
              ¿Segregó de forma segura los elementos cortopunzantes en el Guardián?
            </ion-label>
            <div [ngClass]="spanbool('I0002-1')"></div>
            <ion-toggle (ionChange)="guardarstorage()" color="primary" [(ngModel)]="data_encounteritems['I0002-1']"></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label text-wrap>
              ¿Segregó de forma segura los fármacos parcialmente consumidos?
            </ion-label>
            <div [ngClass]="spanbool('I0003-1')"></div>
            <ion-toggle (ionChange)="guardarstorage()" color="primary" [(ngModel)]="data_encounteritems['I0003-1']"></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label text-wrap>
              ¿Segregó de forma segura los desechos biosanitarios en Bolsa Roja?
            </ion-label>
            <div [ngClass]="spanbool('I0004-1')"></div>
            <ion-toggle (ionChange)="guardarstorage()" color="primary" [(ngModel)]="data_encounteritems['I0004-1']"></ion-toggle>
          </ion-item>
        </div>
      </div>
    </ion-slide>

    <ion-slide class="s1" hidden>
      <ion-grid>
        <ion-row>
          <ion-col>
            <h1>Realiza reporte de seguridad</h1>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-list>
              <ion-item>
                <ion-label>
                  Reporte
                </ion-label>
                <ion-toggle (change)="guardarstorage()" color="primary" [(ngModel)]="data_encounteritems['I00040-7']"></ion-toggle>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>

    <ion-slide class="s2">
      <div class="wrapslide ">
        <div class="slidehead">
          Firma
        </div>
        <div class="slidebody">
          <ion-grid>
            <ion-row>
              <ion-col>
                <h2>Yo, <strong>{{task.patient_name}}</strong> o su cuidador/responsable, confirmo que se me ha realizado el procedimiento descrito.</h2>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <div (touchstart)="lockswipe()" (touchend)="unlockswipe()" class="signature">
                  <ion-button (click)="borrarSignaturePad()" class="borrarcanvas"><ion-icon name="trash"></ion-icon></ion-button>
                  <signature-pad (onEndEvent)="drawComplete()" [options]="signaturePadOptions"  id="signatureCanvas" class=""></signature-pad>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </div>
    </ion-slide>

    <ion-slide class="s2">
      <div class="wrapslide ">
        <div class="slidehead">Envio</div>
        <div class="slidebody">
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label text-wrap>
                    El procedimiento se envio con exito?
                  </ion-label>
                  <div [ngClass]="spanoki()"></div>
                  <ion-toggle color="primary" [(ngModel)]="oki"></ion-toggle>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="oki">
              <ion-col>
                Se completo con exito la visita y se ejecuto el procedimientos
                <ion-button (click)="crearjson('completed')">Enviar Formulario</ion-button>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="!oki">
              <ion-col>
                Describa por que no se realizó correctamente la actividad
                <ion-item lines="full">
                  <ion-textarea rows="4" autogrow="true"  placeholder="" class="textareainnovar" [(ngModel)]="novelty"></ion-textarea>
                </ion-item>
                <ion-button (click)="crearjson('cancelled')">Enviar Formulario</ion-button>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <p><small>Yo, {{login.name}} {{login.surname}} Declaro que la información consignada es veraz y de acuerdo a la orden estipulada</small></p>
                <img [src]="login.signature" alt="" class="signaturerat">
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
