.s1 {
  background-color: rgb(80, 113, 185);
  height: calc(100vh);
}

.s2 {
  background-color: rgb(80, 113, 185);
  height: 100vh;
}

.wrapslide {
  height: 100%;
  width: 100vw;
  overflow-y: scroll;
}

.slidebody {
  margin-top: 0px;
  padding-top: 5px;
  background-image: url("../../assets/sec.png");
  min-height: 100%;
}

.slidehead {
  position: sticky;
  top: 0vh;
  left: 0vw;
  height: 60px;
  margin: 0;
  background-color: rgb(39, 74, 120);
  color: white;
  text-align:center;
  font-size: 16px;
  padding: 7px;
  font-weight: bold;
  z-index: 9999;
  box-shadow: 0px 4px 12px -2px rgba(0,0,0,0.75);
}

/*
ion-input {
  color: blue;
  border: solid 1px rgb(195, 210, 230);
}

ion-label {
  width: 100%;
}
*/

h2 {
  font-size: 1.1em;
}

.inputcorto {
  color: blue;
  border: solid 1px rgb(195, 210, 230);
}

.labelcorto {
  width: 100%;
}

.fixtextlabel {
  font-size: 18px;
  color: darkblue !important;
}

.textareainnovar {
  background-color: #FAFAFA;
  border: solid 1px #EEE;
  margin-bottom: 10px;
}

.signature {
  display: block;
  margin-top: 0px;
  max-width: 350px;
  height: 300px;
  background-color: #FAFAFA;
  border: solid 1px #888;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
}

.borrarcanvas {
  position: absolute;
  left:calc(100%-153px);
  top:8px ;
}

.spanbool {
  text-transform: capitalize;
  color: white;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  padding: 0px;
  height: 26px;
  width: 26px;
  border-radius: 100%;
  text-align: center;
}

.spanbooltrue{
  background-color: green;
}

.spanboolfalse{
  background-color: red;
}

.spanbooltrue::after{
  content: "SI";
}

.spanboolfalse::after{
  content: "NO";
}


.tablemedicamento {
  width: 95vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  border-radius: 5px;
  border: solid 1px #999;
  background-color: #EAEAEA;
}

.tablemedicamento h3 {
  font-size: 18px;
}

.tablemedicamento table {
  width: 100%;
  margin-left:3px;
  margin-right:3px;
  margin-bottom: 3px;
}

.tablemedicamento th {
  font-size: 13px;
  border-bottom: solid 1px #999;
  text-align: left;
  padding-top: 4px;
  padding-bottom: 4px;
  line-height: 15px;

}

.tablemedicamento td {
  font-size: 13px;
  border-bottom: solid 1px #999;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 6px;
  text-align: left;
  line-height: 15px;

}

.signaturerat {
  max-height: 100px;
}
