<ion-content hideBackButton="true">
    <ion-grid style="height: 100%" >
      <ion-row justify-content-center align-items-center style="height: 100%" class="contenedor">
        <ion-col size=12>
          <div class="logo">
              <img src="assets/logoinnovar700.png" alt="">
          </div>
          <div class="formulario">
            <ion-label>Usuario</ion-label>
            <ion-input type="email" [(ngModel)]="user"></ion-input>
          </div>
          <div class="formulario">
            <ion-label>Contraseña</ion-label>
            <ion-input type="password" [(ngModel)]="password"></ion-input>
          </div>
          <div class="formulario">
            <ion-button (click)="clickId()" color="light">Enviar</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
