.logo {
  margin-left: auto;
  margin-right: auto;
  width: 52%;
  margin-bottom: 50px;
}

.titulo {
  color: white;
  margin-left: auto;
  margin-right: auto;
  font-family: sans-serif;
  font-size: 1.20em;
  text-align: center;
  font-weight: bold;
}

.formulario {
  margin-left: auto;
  margin-right: auto;
  padding-left: 7%;
  padding-right:7%;
  margin-top: 20px;
}

.formulario ion-label {
  color: #333;
  font-weight: bold;
}

.formulario ion-input {
  border-bottom: solid 1px #999;
  border-right: solid 1px #999;

}
.formulario ion-button {
  width: 100%

}

.contenedor {
  background-color: rgb(253, 255, 231);
}
